DATABASE_URL="sqlserver://localhost:1433;database=db_mm;user=sa;password={your_password};encrypt=DANGER_PLAINTEXT;trustServerCertificate=true;connectTimeout=30;poolTimeout=20"
PORT=5006
FRONTEND_URL=http://localhost:3000
JWT_SECRET=change_this_secret
