USE [master]
GO
/****** Object:  Database [db_mm]    Script Date: 12/7/2025 6:16:43 PM ******/
CREATE DATABASE [db_mm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_mm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_mm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_mm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_mm_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_mm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_mm]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL,
	[applied_steps_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [Area_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistTemplate]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[machineId] [int] NOT NULL,
	[topic] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[type] [nvarchar](1000) NOT NULL,
	[minVal] [float] NULL,
	[maxVal] [float] NULL,
	[order] [int] NOT NULL,
	[image] [nvarchar](1000) NULL,
 CONSTRAINT [ChecklistTemplate_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[model] [nvarchar](1000) NULL,
	[location] [nvarchar](1000) NULL,
	[image] [nvarchar](1000) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
	[machineMasterId] [int] NULL,
 CONSTRAINT [Machine_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineMaster]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[machineTypeId] [int] NULL,
 CONSTRAINT [MachineMaster_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachinePMPlan]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachinePMPlan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[machineId] [int] NOT NULL,
	[preventiveTypeId] [int] NOT NULL,
	[frequencyDays] [int] NOT NULL,
	[advanceNotifyDays] [int] NOT NULL,
	[lastPMDate] [datetime2](7) NULL,
	[nextPMDate] [datetime2](7) NULL,
 CONSTRAINT [MachinePMPlan_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineType]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[areaId] [int] NULL,
 CONSTRAINT [MachineType_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterChecklist]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterChecklist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[preventiveTypeId] [int] NOT NULL,
	[topic] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[type] [nvarchar](1000) NOT NULL,
	[minVal] [float] NULL,
	[maxVal] [float] NULL,
	[order] [int] NOT NULL,
	[isRequired] [bit] NOT NULL,
	[options] [nvarchar](1000) NULL,
 CONSTRAINT [MasterChecklist_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PMRecord]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMRecord](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[machineId] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[inspector] [nvarchar](1000) NULL,
	[checker] [nvarchar](1000) NULL,
	[status] [nvarchar](1000) NOT NULL,
	[remark] [nvarchar](1000) NULL,
	[preventiveTypeId] [int] NULL,
 CONSTRAINT [PMRecord_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PMRecordDetail]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMRecordDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recordId] [int] NOT NULL,
	[checklistId] [int] NULL,
	[topic] [nvarchar](1000) NULL,
	[isPass] [bit] NOT NULL,
	[value] [nvarchar](1000) NULL,
	[remark] [nvarchar](1000) NULL,
	[image] [nvarchar](max) NULL,
	[imageAfter] [nvarchar](max) NULL,
	[imageBefore] [nvarchar](max) NULL,
 CONSTRAINT [PMRecordDetail_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreventiveType]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreventiveType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[image] [nvarchar](1000) NULL,
 CONSTRAINT [PreventiveType_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 12/7/2025 6:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [nvarchar](1000) NULL,
	[name] [nvarchar](1000) NOT NULL,
	[email] [nvarchar](1000) NULL,
	[role] [nvarchar](1000) NOT NULL,
 CONSTRAINT [UserMaster_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'9f8552d4-a0bb-48e2-a662-e753c271b9b3', N'fb29ccd1dc40881b9098c0ff55f75e6f7a4e589765f5c0a7fe24b876d8715700', CAST(N'2025-12-06T00:50:34.7624993+00:00' AS DateTimeOffset), N'20251206005034_init', NULL, NULL, CAST(N'2025-12-06T00:50:34.7464822+00:00' AS DateTimeOffset), 1)
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([id], [name], [description]) VALUES (2, N'CLASS 100', N'Clean Room Class 100')
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistTemplate] ON 

INSERT [dbo].[ChecklistTemplate] ([id], [machineId], [topic], [description], [type], [minVal], [maxVal], [order], [image]) VALUES (1311, 92, N'1. Oil Type', NULL, N'DROPDOWN', NULL, NULL, 0, NULL)
INSERT [dbo].[ChecklistTemplate] ([id], [machineId], [topic], [description], [type], [minVal], [maxVal], [order], [image]) VALUES (1312, 92, N'2. Vial 1', NULL, N'BOOLEAN', NULL, NULL, 0, NULL)
INSERT [dbo].[ChecklistTemplate] ([id], [machineId], [topic], [description], [type], [minVal], [maxVal], [order], [image]) VALUES (1313, 92, N'3. Vial 2', NULL, N'BOOLEAN', NULL, NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[ChecklistTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[Machine] ON 

INSERT [dbo].[Machine] ([id], [code], [name], [model], [location], [image], [createdAt], [updatedAt], [machineMasterId]) VALUES (92, N'052453', N'GE2-001', N'', N'CLASS 100', NULL, CAST(N'2025-12-06T01:40:25.9690000' AS DateTime2), CAST(N'2025-12-06T05:46:45.6590000' AS DateTime2), 1)
INSERT [dbo].[Machine] ([id], [code], [name], [model], [location], [image], [createdAt], [updatedAt], [machineMasterId]) VALUES (93, N'052639', N'GE2-002', N'', N'CLASS 100', NULL, CAST(N'2025-12-06T01:40:25.9690000' AS DateTime2), CAST(N'2025-12-06T02:51:18.1460000' AS DateTime2), 2)
INSERT [dbo].[Machine] ([id], [code], [name], [model], [location], [image], [createdAt], [updatedAt], [machineMasterId]) VALUES (94, N'052638', N'GE2-003', N'', N'CLASS 100', NULL, CAST(N'2025-12-06T01:40:25.9690000' AS DateTime2), CAST(N'2025-12-06T02:51:18.1460000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Machine] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineMaster] ON 

INSERT [dbo].[MachineMaster] ([id], [code], [name], [description], [machineTypeId]) VALUES (1, N'052453', N'GE2-001', N'', 1)
INSERT [dbo].[MachineMaster] ([id], [code], [name], [description], [machineTypeId]) VALUES (2, N'052639', N'GE2-002', N'', 1)
INSERT [dbo].[MachineMaster] ([id], [code], [name], [description], [machineTypeId]) VALUES (3, N'052638', N'GE2-003', NULL, 1)
SET IDENTITY_INSERT [dbo].[MachineMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[MachinePMPlan] ON 

INSERT [dbo].[MachinePMPlan] ([id], [machineId], [preventiveTypeId], [frequencyDays], [advanceNotifyDays], [lastPMDate], [nextPMDate]) VALUES (1, 92, 1, 7, 2, CAST(N'2025-12-06T03:41:03.3680000' AS DateTime2), CAST(N'2025-12-13T02:50:57.2120000' AS DateTime2))
INSERT [dbo].[MachinePMPlan] ([id], [machineId], [preventiveTypeId], [frequencyDays], [advanceNotifyDays], [lastPMDate], [nextPMDate]) VALUES (2, 93, 1, 7, 2, CAST(N'2025-12-06T07:40:54.9350000' AS DateTime2), CAST(N'2025-12-13T02:50:57.2310000' AS DateTime2))
INSERT [dbo].[MachinePMPlan] ([id], [machineId], [preventiveTypeId], [frequencyDays], [advanceNotifyDays], [lastPMDate], [nextPMDate]) VALUES (3, 94, 1, 7, 2, CAST(N'2025-12-06T07:41:10.4650000' AS DateTime2), CAST(N'2025-12-13T02:50:57.2380000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[MachinePMPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineType] ON 

INSERT [dbo].[MachineType] ([id], [name], [description], [areaId]) VALUES (1, N'Oil Fill Machine', N'', 2)
INSERT [dbo].[MachineType] ([id], [name], [description], [areaId]) VALUES (2, N'Laser Welding Machine', N'', 2)
SET IDENTITY_INSERT [dbo].[MachineType] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterChecklist] ON 

INSERT [dbo].[MasterChecklist] ([id], [preventiveTypeId], [topic], [description], [type], [minVal], [maxVal], [order], [isRequired], [options]) VALUES (1, 1, N'1. Surface Area In Chamber (บริเวณผิวใน Chamber)', NULL, N'BOOLEAN', NULL, NULL, 0, 1, NULL)
INSERT [dbo].[MasterChecklist] ([id], [preventiveTypeId], [topic], [description], [type], [minVal], [maxVal], [order], [isRequired], [options]) VALUES (2, 1, N'2. Turn Table', NULL, N'BOOLEAN', NULL, NULL, 0, 1, NULL)
INSERT [dbo].[MasterChecklist] ([id], [preventiveTypeId], [topic], [description], [type], [minVal], [maxVal], [order], [isRequired], [options]) VALUES (3, 1, N'3. Oil Splash swamp ( หลุมกัน Oil กระจาย )', NULL, N'BOOLEAN', NULL, NULL, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[MasterChecklist] OFF
GO
SET IDENTITY_INSERT [dbo].[PMRecord] ON 

INSERT [dbo].[PMRecord] ([id], [machineId], [date], [inspector], [checker], [status], [remark], [preventiveTypeId]) VALUES (1, 92, CAST(N'2025-12-06T02:23:47.3410000' AS DateTime2), N'Apiwat Nonut (LE114)', N'Apiwat Nonut (LE114)', N'COMPLETED', N'', NULL)
INSERT [dbo].[PMRecord] ([id], [machineId], [date], [inspector], [checker], [status], [remark], [preventiveTypeId]) VALUES (2, 92, CAST(N'2025-12-06T03:41:03.3180000' AS DateTime2), N'Apiwat Nonut (LE114)', N'Apiwat Nonut (LE114)', N'COMPLETED', N'', 1)
INSERT [dbo].[PMRecord] ([id], [machineId], [date], [inspector], [checker], [status], [remark], [preventiveTypeId]) VALUES (3, 92, CAST(N'2025-12-06T03:41:26.9180000' AS DateTime2), N'Apiwat Nonut (LE114)', N'Apiwat Nonut (LE114)', N'COMPLETED', N'', 2)
SET IDENTITY_INSERT [dbo].[PMRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[PMRecordDetail] ON 

INSERT [dbo].[PMRecordDetail] ([id], [recordId], [checklistId], [topic], [isPass], [value], [remark], [image], [imageAfter], [imageBefore]) VALUES (1, 1, 1, N'1. Surface Area In Chamber (บริเวณผิวใน Chamber)', 1, N'', N'', N'', NULL, NULL)
INSERT [dbo].[PMRecordDetail] ([id], [recordId], [checklistId], [topic], [isPass], [value], [remark], [image], [imageAfter], [imageBefore]) VALUES (2, 1, 2, N'2. Turn Table', 1, N'', N'', N'', NULL, NULL)
INSERT [dbo].[PMRecordDetail] ([id], [recordId], [checklistId], [topic], [isPass], [value], [remark], [image], [imageAfter], [imageBefore]) VALUES (3, 1, 3, N'3. Oil Splash swamp ( หลุมกัน Oil กระจาย )', 1, N'', N'', N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PMRecordDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PreventiveType] ON 

INSERT [dbo].[PreventiveType] ([id], [name], [description], [image]) VALUES (1, N'Check Sheet Cleaning', N'Use fro Oil Fil', N'/uploads/1764985315779-207738121.png')
INSERT [dbo].[PreventiveType] ([id], [name], [description], [image]) VALUES (2, N'Change Oil', N'', N'')
INSERT [dbo].[PreventiveType] ([id], [name], [description], [image]) VALUES (4, N'Laser Record Parameter', N'', N'')
SET IDENTITY_INSERT [dbo].[PreventiveType] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([id], [employeeId], [name], [email], [role]) VALUES (1, N'LE114', N'Apiwat Nonut', N'apiwat.n@minebea.co.th', N'BOTH')
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Area_name_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [Area_name_key] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Machine_code_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [Machine_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MachineMaster_code_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[MachineMaster] ADD  CONSTRAINT [MachineMaster_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MachinePMPlan_machineId_preventiveTypeId_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[MachinePMPlan] ADD  CONSTRAINT [MachinePMPlan_machineId_preventiveTypeId_key] UNIQUE NONCLUSTERED 
(
	[machineId] ASC,
	[preventiveTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MachineType_name_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[MachineType] ADD  CONSTRAINT [MachineType_name_key] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PreventiveType_name_key]    Script Date: 12/7/2025 6:16:43 PM ******/
ALTER TABLE [dbo].[PreventiveType] ADD  CONSTRAINT [PreventiveType_name_key] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT ((0)) FOR [applied_steps_count]
GO
ALTER TABLE [dbo].[ChecklistTemplate] ADD  CONSTRAINT [ChecklistTemplate_type_df]  DEFAULT ('BOOLEAN') FOR [type]
GO
ALTER TABLE [dbo].[ChecklistTemplate] ADD  CONSTRAINT [ChecklistTemplate_order_df]  DEFAULT ((0)) FOR [order]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [Machine_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[MasterChecklist] ADD  CONSTRAINT [MasterChecklist_order_df]  DEFAULT ((0)) FOR [order]
GO
ALTER TABLE [dbo].[MasterChecklist] ADD  CONSTRAINT [MasterChecklist_isRequired_df]  DEFAULT ((0)) FOR [isRequired]
GO
ALTER TABLE [dbo].[PMRecord] ADD  CONSTRAINT [PMRecord_date_df]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[PMRecordDetail] ADD  CONSTRAINT [PMRecordDetail_isPass_df]  DEFAULT ((0)) FOR [isPass]
GO
ALTER TABLE [dbo].[ChecklistTemplate]  WITH CHECK ADD  CONSTRAINT [ChecklistTemplate_machineId_fkey] FOREIGN KEY([machineId])
REFERENCES [dbo].[Machine] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChecklistTemplate] CHECK CONSTRAINT [ChecklistTemplate_machineId_fkey]
GO
ALTER TABLE [dbo].[Machine]  WITH CHECK ADD  CONSTRAINT [Machine_machineMasterId_fkey] FOREIGN KEY([machineMasterId])
REFERENCES [dbo].[MachineMaster] ([id])
GO
ALTER TABLE [dbo].[Machine] CHECK CONSTRAINT [Machine_machineMasterId_fkey]
GO
ALTER TABLE [dbo].[MachineMaster]  WITH CHECK ADD  CONSTRAINT [MachineMaster_machineTypeId_fkey] FOREIGN KEY([machineTypeId])
REFERENCES [dbo].[MachineType] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MachineMaster] CHECK CONSTRAINT [MachineMaster_machineTypeId_fkey]
GO
ALTER TABLE [dbo].[MachinePMPlan]  WITH CHECK ADD  CONSTRAINT [MachinePMPlan_machineId_fkey] FOREIGN KEY([machineId])
REFERENCES [dbo].[Machine] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachinePMPlan] CHECK CONSTRAINT [MachinePMPlan_machineId_fkey]
GO
ALTER TABLE [dbo].[MachinePMPlan]  WITH CHECK ADD  CONSTRAINT [MachinePMPlan_preventiveTypeId_fkey] FOREIGN KEY([preventiveTypeId])
REFERENCES [dbo].[PreventiveType] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MachinePMPlan] CHECK CONSTRAINT [MachinePMPlan_preventiveTypeId_fkey]
GO
ALTER TABLE [dbo].[MachineType]  WITH CHECK ADD  CONSTRAINT [MachineType_areaId_fkey] FOREIGN KEY([areaId])
REFERENCES [dbo].[Area] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MachineType] CHECK CONSTRAINT [MachineType_areaId_fkey]
GO
ALTER TABLE [dbo].[MasterChecklist]  WITH CHECK ADD  CONSTRAINT [MasterChecklist_preventiveTypeId_fkey] FOREIGN KEY([preventiveTypeId])
REFERENCES [dbo].[PreventiveType] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MasterChecklist] CHECK CONSTRAINT [MasterChecklist_preventiveTypeId_fkey]
GO
ALTER TABLE [dbo].[PMRecord]  WITH CHECK ADD  CONSTRAINT [PMRecord_machineId_fkey] FOREIGN KEY([machineId])
REFERENCES [dbo].[Machine] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PMRecord] CHECK CONSTRAINT [PMRecord_machineId_fkey]
GO
ALTER TABLE [dbo].[PMRecord]  WITH CHECK ADD  CONSTRAINT [PMRecord_preventiveTypeId_fkey] FOREIGN KEY([preventiveTypeId])
REFERENCES [dbo].[PreventiveType] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PMRecord] CHECK CONSTRAINT [PMRecord_preventiveTypeId_fkey]
GO
ALTER TABLE [dbo].[PMRecordDetail]  WITH CHECK ADD  CONSTRAINT [PMRecordDetail_checklistId_fkey] FOREIGN KEY([checklistId])
REFERENCES [dbo].[MasterChecklist] ([id])
GO
ALTER TABLE [dbo].[PMRecordDetail] CHECK CONSTRAINT [PMRecordDetail_checklistId_fkey]
GO
ALTER TABLE [dbo].[PMRecordDetail]  WITH CHECK ADD  CONSTRAINT [PMRecordDetail_recordId_fkey] FOREIGN KEY([recordId])
REFERENCES [dbo].[PMRecord] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PMRecordDetail] CHECK CONSTRAINT [PMRecordDetail_recordId_fkey]
GO
USE [master]
GO
