DB_SERVER=192.168.98.10
DB_NAME=db_mm
DB_USER=sa
DB_PASSWORD=your_db_password

SMTP_HOST=192.168.98.1
SMTP_PORT=25
SMTP_FROM=apiwat.n@minebea.co.th

# Use comma to separate multiple emails
EMAIL_RECIPIENTS=kamonchanok.b@minebea.co.th
