DB_SERVER=localhost
DB_NAME=db_mm
DB_USER=your_db_user
DB_PASSWORD=your_db_password

SMTP_HOST=localhost
SMTP_PORT=25
SMTP_FROM=pm-notification@example.com

# Use comma to separate multiple emails
EMAIL_RECIPIENTS=maintenance-team@example.com
