PG_URL=postgresql+psycopg2://user:password@localhost:5432/database_name
GMAIL_USER=sender@example.com
GMAIL_APP_PASSWORD=your_16_character_app_password
TN_RECIPIENTS=tn-team@example.com
OTHER_RECIPIENTS=maintenance-team@example.com
SCHEDULE_TIMES=08:05,12:30
TZ_NAME=Asia/Bangkok
LOG_DIR=logs
LOG_FILE=send_mail.log
